.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid gold;
    border-radius: 5%;

}

.image:hover {
    filter: blur(1px);
    cursor: pointer;
}

body {
    background-color: skyblue;
}