


.wrap{
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.menu-container{
    top: 10px;
    left: 500px;
    position: absolute;
    width: 100%;
    z-index: 100;
}


.menu{
    font: bold 12px sans-serif ;
    text-align: center;
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}


.menu li{
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 12px 40px;
    box-shadow: 2px 2px black;
    border: 1px solid silver;
    border-radius: 1.5px;
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}


.menu li:hover{
    background-color: #969680;
    color: #fff
}

.menu li:hover ul{
    display: block;
    opacity: 1;
    visibility: visible;
}

.submenu {
    padding: 0;
    left: 0;
    position: absolute;
    top: 45px;
    width: 125px;
    opacity: 0;
    visibility: hidden;
}

.submenu li{
    color: #fff;
    display: block;
}

.submenu li:hover {
    background-color:rgba(100,65,0,.3);
    color: #fff;

}

h1{
    text-align: center;
    display: block;
    height: 2px;
    width: 150px;
    background: #e91c1c;
    margin: 5px auto 40px;
    box-shadow: 2px 2px black;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    width: auto;
    height: auto;
}


.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    width: auto;
    height: auto;
}



.row{
    margin-right: -15px;
    margin-left: -15px;
}



.clearfix:after,
.container:after,
.navbar:after {
    clear:both;
    display: table;
    content: " ";
}


#home {
    background: url(../gallery/italian.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px;
    padding-bottom: 500px;
    color: #fff;
}

.text-center{
    text-align: center;
}


.main {
    text-shadow: 2px 2px black;
    font-variant: small-caps;
    color: #fff;
    letter-spacing: 5pt;
    word-spacing: 10pt;
    font-size: 4.5em;
    text-align: left;
    font-family: Impact, sans-serif;
    line-height: 2;
    font-weight: bold;
    border: 2px double silver;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100,65,0,.3);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}


.reservation {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100,65,0,.3);
    box-shadow: -1px -1px 1px 0 black;
}



.reservation h2{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161b;
    font-weight: bold;
    font-size: 1.3em;
}


.reservation h2 span{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
}


.reservation p {
    color: #13161B;
    width: 50%;
    margin: 0 auto;
}

.reservation form{
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(227,222,222);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
}

.reservation input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090b0d;
    margin: 10px 1em;
    border-radius: 7px;
    background: #13161B;
    box-shadow: inset 0px 3px 0px 0px rgba(5,5,5,0.15);
    font-family: 'Raleway', sans-serif;
}


.reservation input[type="text"]:hover{
    box-shadow: 0 0 18px rgba(100,65,0,.8);
}

.form-spacer{
    padding: 30px 39px;
}


.terms{
    margin: 30px 1px 0 0;
    margin-top: 13%;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
}

.terms:hover {
    color: orange;
    text-decoration: underline;
}

.submit input[type="submit"] {
    color: #fff;
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;    
    font-family: 'Raleway', sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: #797a7b;
    box-shadow: 1px 1px 4px 0 black;
}

.submit input[type="submit"]:hover {
    color: #000;
    background-color: #8d8e8f;
    box-shadow: inset 1px 2px 15px 0 black;
}


#footer{
    background-color: rgba(100,65,0,.3);
    color: #000;
    padding: 20px 50px 20px 50px;
    text-align: right;
}
